
<h2 class="text-center">Enter Movie Details</h2>
<div class="divWidth">
    
  <form #formVal="ngForm" (onSubmit)="saveData(formVal)">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="MovieTitle">Movie Title</label>
          <input type="text" class="form-control" id="MovieTitle" placeholder="Please enter MovieTitle" name="MovieTitle" [(ngModel)]="MovieTitle">
        </div>
        <div class="form-group col-6">
          <label for="inputAddress">Movie Release Date</label>
          
          <input type="text" class="form-control" id="MovieReleaseDate"  name="MovieReleaseDate" [(ngModel)]="MovieReleaseDate">
        </div>
        <div class="form-group col-md-6">
          <label for="MovieOverview">Movie Overview</label>
          <textarea  name="w3review" rows="4" cols="50" type="text" class="form-control" id="MovieOverview" placeholder="Please enter MovieOverview" name="MovieOverview" [(ngModel)]="MovieOverview">
           </textarea>
        </div>
        
          <div class="form-group col-md-6">
            <label for="inputCity">Movie Genres</label>
            <input type="text" class="form-control" id="MovieGenres" name="MovieGenres" [(ngModel)]="MovieGenres" placeholder="Please enter Movie Genres">
          </div>
     
      </div>
      
      
      <br>
      <button type="submit" class="btn btn-primary">Sumit</button>
    </form>
  
  </div>
  
    {{formVal.value | json}}
  
  
  
   
      